* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.nav-logo{
  max-width: 100px;
  width: 80px;
  height: 40px;
}

section{
  padding: 20px;
}

.section{
  display: flex;
  flex-direction: column;
}

.grid{
  max-width: 400px;
  align-self: center;
}

.header{
  margin-bottom: 16px;
}

.text{
  margin-top: 0;
}